<!DOCTYPE html>
        <html xmlns="http://www.w3.org/1999/xhtml"
              xmlns:th="http://www.thymeleaf.org">

        <head>
            <title>ART APP - Starry Night</title>
            <link rel="stylesheet" type="text/css" th:href="@{/css/starrynight.css}"/>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </head>


<body class="body">

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-6">
            <!---------------------pictura--------------------->
            <div class="painting">
                <img th:src="@{/images/starry_night.jpg}" class="img-responsive center-block" width="500" height="500"
                     alt="Starry Night"/>
            </div>

        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-6">
                    <!---------------------titlu--------------------->
                    <div class="title">
                        STARRY NIGHT
                    </div>

                </div>

                <div class="col-sm-4">
                    <div class="logo">
                        <a th:href="@{/admin/home}">
                            <img th:src="@{/images/logoALB.PNG}" class="img-responsive" width="100" height="100"
                                 alt="Logo"/>
                        </a>
                    </div>

                </div>

            </div>

            <div class="row">
                <!---------------------info--------------------->
                <div class="col-sm-12">
                    <div class="info" style="text-align: justify">
                        <i>Starry Night</i> is an oil on canvas painting
                        by Dutch Post-Impressionist painter Vincent van Gogh.
                        Painted in June 1889, it depicts the view from the
                        east-facing window of his asylum room at
                        Saint-Rémy-de-Provence, just before sunrise, with the
                        addition of an imaginary village. It has been in the
                        permanent collection of the Museum of Modern Art in
                        New York City since 1941, acquired through the Lillie
                        P. Bliss Bequest. Widely regarded as Van Gogh's
                        magnum opus, The Starry Night is one of the most
                        recognized paintings in Western art.
                    </div>

                </div>

            </div>

        </div>

    </div>


    <div class="row">
        <div class="col-sm-12">

            <div class="drag">
                <div th:if="${message}">
                    <h2 th:text="${message}"/>
                </div>

                <div>
                    <form method="POST" enctype="multipart/form-data" action="/paintings/starrynight">
                        <div class="col-sm-4">
                            <div style="color: #2d3561;
                        font-family: Segoe UI Semibold, Tahoma, Geneva, sans-serif; padding-bottom: 5px; font-size: 20px">
                                Upload an image:
                            </div>

                            <input type="file" class="custom-file-input" name="file" value="Upload" style="padding-bottom: 5px"/>
                        </div>

                        <div class="col-sm-3">
                            <div style="color: #2d3561;
                        font-family: Segoe UI Semibold, Tahoma, Geneva, sans-serif; padding-bottom: 5px; font-size: 20px">
                                Convert your image:
                            </div>
                            <div >
                                <input type="submit" value="Convert" style="background-color: #c05c7e; color: #ffffff;
                        font-family: Segoe UI Semibold, Tahoma, Geneva, sans-serif; padding: 5px 100px;
                        border-radius: 4px; font-size: 15px" />
                            </div>
                        </div>
                    </form>
                </div>

                <div>
                    <ul>
                        <li th:each="file : ${files}">
                            <a th:href="${file}" th:text="${file}" />
                        </li>
                    </ul>
                </div>
            </div>




        </div>
    </div>

</div>
</body>
</html></title>
</head>
<body>

</body>
</html>