.validation-message {
    max-width: 200px;
    font-style: normal;
    font-size: 12px;
    color: #c05c7e;
}

.form-back {
    max-width: 407px;
}

.body {
    background-image: url("/images/background.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

body, html {
    height: 100%;
}

.content {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.header {
    text-align: center;
    font-family: "Segoe UI Semibold", Tahoma, Geneva, sans-serif;
    color: white;
    font-size: 35px;
}